.blog {
	color: #000000;

	width: 60%;
	margin: 0 auto;
	margin-top: 2em;

	display: flex;
	flex-direction: column;
}

.blog .title {
	font-family: Roboto, Arial, Helvetica, sans-serif;
	font-size: 50px;
	font-weight: 100;

	margin: 0 auto;
	margin-top: 0.25em;
	margin-bottom: 0;

	margin: auto;
}

.blog .blog-metadata {
	font-family: Roboto, Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: 400;

	margin: 0 auto;
	margin-top: 0em;
}

.blog .author {
	display: inline-block;
	margin-right: 0.5em;
}

.blog .date, .blog .time {
	display: inline;
	margin-right: 0.5em;
}

.blog .content {
	font-family: Roboto, Arial, Helvetica, sans-serif;
	font-size: 22px;
	font-weight: 400;

	width: 70%;

	margin: 0 auto;
	margin-bottom: 0.5em;
}

@media (max-width: 800px) {
	.blog {
		width: 100%;
		font-size: 30px;
	}
}