.blog {
	width: 1000px;
	margin: 0 auto;
	margin-top: 2em;

	display: flex;
	flex-direction: column;
}

.blog .title {
	font-family: "Noto Sans", sans-serif;
	font-size: 55px;
	font-weight: 100;

	margin-top: 0.25em;
	padding-bottom: 0.25em;
	margin: 0 auto;

	width: 100%;
	text-align: center;
}

.blog .blog-metadata {
	font-family: "Noto Serif", "Times New Roman", Serif;
	font-size: 20px;
	font-weight: 300;

	margin: 0 auto;
	margin-top: 0;
	margin-bottom: 0.25em;

	height: 2em;
}

.blog .author {
	display: inline-block;
	margin-right: 0.5em;
	margin-top: 0;
}

.blog .date, .blog .time {
	display: inline;
	margin-right: 0.5em;
}

.blog .abstract {
	font-family: "Noto Sans", sans-serif;
	font-size: 24px;
	font-weight: 300;
	line-height: 1.3;

	margin: 0 auto;
	margin-top: 0;
	margin-bottom: 1.25em;

	text-align: center;
}

.blog .thumbnail {
	width: 100%;
	margin-bottom: 3em;
}

.blog .content {
	font-family: "Noto Sans", sans-serif;
	font-size: 20px;
	line-height: 1.8;

	width: 70%;

	margin: 0 auto;
	margin-bottom: 0.5em;
}

.blog .embeddedImage {
	display: block;
	width: 28em;
	margin: 0 auto;
	margin-left: 2em;
}

.blog .embeddedHeading {
	margin-bottom: 0;
	margin-top: 0;
	padding-bottom: 0;

	display: block;
	margin: auto;
	
	font-family: "Noto Serif", "Times New Roman", Serif;
	font-weight: 300;
}

.blog .embeddedLink {
	color: #05C3DD;
	text-decoration: none;
}

.blog .code {

	background-color: #F5F5F5;

	line-height: 1.3;

	border: 1px solid #D3D3D3;

	width: 95%;
	margin: 0 auto;

}

.blog .code pre {
	margin-top: 0.25em;
	margin-bottom: 0.25em;
	margin-left: 0.5em;
	margin-right: 0.25em;
}

.blog .code code {
	font-size: 16px;
	font-family: monospace;
	color: black;
}

@media only screen and (max-width: 1200px) {
	.blog {
		width: 90%;
	}

	.blog .title {
		font-size: 3.5em;
		font-weight: 300;
	}

	.blog .blog-metadata {
		width: 100%;
		font-size: 36px;
		text-align: center;
	}

	.blog .content {
		width: 100%;
		font-size: 1.3em;
		font-weight: normal;
		line-height: 1.3;
	}

	.blog .embeddedHeading {
		font-size: 2em;
		font-weight: normal;
	}

	.blog .embeddedImage {
		width: 75%;
	}
}