@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;300;400&family=Noto+Serif:wght@100;300;400&display=swap');

body {
	background-color: #FFFFFF;
	color: #000000;
}

#header {
	width: 85%;
	height: 2em;
	margin: 0 auto;
	padding: 2em;

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
}

#header h3 {
	font-family: "Noto Serif", serif;
	font-size: 4em;
	font-weight: 400;
}

#header a {
	text-decoration: none;
	color: #000000;
}

#views {
	font-family: "Noto Sans", sans-serif;
	font-size: 1.3em;

	justify-self: flex-end;
	margin-left: auto;
}

#header-divider {
	width: 85%;
}

@media only screen and (max-width: 1200px) {
	#header {
		width: 90%;
		height: 3em;
	}

	#header h3 {
		font-size: 3em;
	}

	#header-divider {
		width: 90%;
	}
}
