@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body {
	background-color: #FFFFFF;
}

#header {
	background-color: #121212;
	color: #FFFFFF;

	padding: 5px;

	font-size: 30px;
	font-family: Roboto, Arial, Helvetica, sans-serif;
	font-weight: 100;

	display: flex;
}

#header a {
	text-decoration: none;
	color: #FFFFFF;
	margin: auto;
}

@media (max-width: 800px) {
	#header {
		font-size: 50px;
	}
}
